.row_submit {
    padding-top: 10px;
}

.row {
    padding-top: 40px;

    border: solid 1px #f7f7f7;
}

.well {
    background-color: #f7f7f7;
}
.img_joinus{
    padding-top: 40px;
    text-align: center;
}