.row_submit {
    padding-top: 10px;
}

.row_main {
    padding-top: 40px;
    /*border: solid 1px #f7f7f7;*/
}
.row{
    padding-top: 10px;

}

.well {
    background-color: #f7f7f7;
}
.img_joinus{
    padding-top: 20px;
    text-align: center;
}