{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
    <link href="{% static 'product/css/order.css' %}" rel="stylesheet">
    <section>
        {% load humanize %}

        <div class="container" id="order_panel">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info" style="border-radius: 0">
                        <div class="panel-heading" style="border-radius: 0">
                            <h3 class="panel-title checkout-header" style="border-radius: 0">
                                CONFIRM RECIPIENT INFORMATION</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ user.first_name }} {{ user.last_name }}</p>
                            <p>{{ user.address | linebreaksbr }}</p>
                            <a href="{% url 'member:profile_view' %}" class="btn btn-primary btn-borderless">EDIT INFORMATION</a>
                        </div>
                    </div>
                    <div class="panel panel-info" style="border-radius: 0">
                        <div class="panel-heading" style="border-radius: 0">
                            <h3 class="panel-title checkout-header" style="border-radius: 0">
                                CONFIRM ORDER</h3>
                        </div>
                        <div class="panel-body">
                            {% for cart in carts %}
                                <div class="row">
                                    <div class="col-md-1">
                                        <img src="{{ cart.stock.product.get_image.image.url }}" height="75px">
                                    </div>
                                    <div class="col-md-11">
                                        <p id="order-list-brand">{{ cart.stock.product.brand | upper }}</p>
                                        <p id="order-list-name">{{ cart.stock.product.name }}</p>
                                        <p id="order-list-size">SIZE: {{ cart.stock.size }}</p>
                                        <span id="order-list-price">{{ cart.stock.product.price| intcomma | floatformat:2}} THB × {{ cart.amount }}</span>

                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                            <p style="padding-bottom: 0; margin-bottom: 0; font-size: medium; font-weight: bold">TOTAL</p>
                            <h2 style="margin-top: 0; padding-top: 0">{{ total_price|floatformat:2|intcomma}} THB</h2>
                            <a href="{% url 'manage_cart' %}" class="btn btn-primary btn-borderless">RETURN TO CART</a>
                        </div>
                    </div>

                    <div class="panel panel-info" style="border-radius: 0">
                        <div class="panel-heading" style="border-radius: 0">
                            <h3 class="panel-title checkout-header" style="border-radius: 0">
                                PLEASE SELECT PAYMENT METHOD</h3>
                        </div>
                        <div class="panel-body">
                            {#                            <div class="radio">#}
                            {#                                <label>#}
                            {#                                    <input type="radio" name="paymentOption" id="paymentOption" value="option1" checked>#}
                            {#                                    <!-- PayPal Logo -->#}
                            {#                                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">#}
                            {#                                    <!-- PayPal Logo -->#}
                            {#                                </label>#}
                            {#                            </div>#}
                            {#                            <div class="radio">#}
                            {#                                <label>#}
                            {#                                    <input type="radio" name="paymentOption" id="paymentOption" value="option2">#}
                            {#                                    Bank transfer or cash transfer#}
                            {#                                </label>#}
                            {#                            </div>#}
                            <div id="paypal-button"></div>
                            <a href="{% url 'product:transfer_checkout' %}" class="btn btn-success btn-borderless">
                                BANK TRANSFER<br>CASH TRANSFER</a>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
    <script>
        paypal.Button.render({

            env: 'sandbox', // Specify 'sandbox' for the test environment
            client: {
                sandbox: 'ATE1kqBkVx0Pfbsm4tDk-Hals5NLif-N7nb5K9jHAINQaXa57TD_KZ0eFgW22IRt3c8lXRj2r2vPgVh-'
            },
            payment: function() {
                // Set up the payment here, when the buyer clicks on the button
                var env = this.props.env;
                var client = this.props.client;
                return paypal.rest.payment.create(env, client, {
                    transactions: [
                        {
                            amount: {total: '{{ total_price }}', currency: 'THB'}
                        }
                    ]
                })
            },

            commit: true,
            onAuthorize: function(data, actions) {
                // Execute the payment here, when the buyer approves the transaction
                $.ajax({
                    url: "{% url 'product:paypal_checkout' %}",
                    type: 'POST',
                    traditional: true,
                    data: {'user':"{{ user.unique_id }}"},

                    success: function (json) {
                        window.location.replace(json.content);
                    }
                });
                return actions.payment.execute().then(function () {

                })
            }

        }, '#paypal-button');
    </script>
{% endblock %}