{% extends 'base.html' %}
{% load static %}
{#<link href="{% static 'base/css/font-marvenpro.css' %}" rel="stylesheet">#}
{% block content %}
    <link href="{% static 'product/css/details.css' %}" rel="stylesheet">
    <section>
        <div class="container" id="product_info">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">{{ sex }}</a></li>
                    <li class="active">{{ type }}</li>
                </ol>
            </div>
            {% if error %}
                <div class="row">
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-1 col-sm-12 col-xs-12" id="gallery">

                    {% for image in images %}

                        <div class="col-md-12 col-sm-2 col-xs-2">
                            <img src="{{ image }}" class="img-thumbnail img-responsive gallery-items
								{% if forloop.first %}
									gallery-selected
								   {% endif %}
								">
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 border">
                    <img class="product_img img-responsive" src="{{ images.first }}" id="product_img">
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12" id="product_info">
                    {% load humanize %}
                    <div class="row">
                        <h2><b> {{ product.brand |upper }} </b></h2>
                        <h4>{{ product.name }}</h4>
                    </div>
                    <div class="row"><h3><b>{{ product.price|floatformat:2|intcomma }} THB</b></h3></div>
                    {#                    <div class="row"><h2>Details</h2></div>#}
                    <div class="row"><p>{{ product.description|linebreaksbr }}</p></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6"><p class="sizetypesexheaderrow">TYPE</p></div>
                        <div class="col-md-6 col-sm-6 col-xs-6"><p class="sizetypesexheaderrow">GENDER</p></div>
                    </div>
                    <div class="row" id="sizetypesexrow">
                        <div class="col-md-6 col-sm-6 col-xs-6"><p class="sizetypesexrow">{{ type }}</p></div>
                        <div class="col-md-6 col-sm-6 col-xs-6"><p class="sizetypesexrow">{{ sex }}</p></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 border" id="cart_interact">
                    <form method="post" action="{% url 'product:put_in_cart' %}" id="cart_form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p id="select_size_label">PLEASE SELECT SIZE: </p>
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                            </div>
                        </div>
                        <div class="row" id="remaining_stock">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <select class="form-control" id="size_select" name="size_select">
                                    {% for stock in stocks %}
                                        <option value="{{ stock.id }}">
                                            {{ stock.size }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {% for stock in stocks %}
                                            <input type="hidden" value="{{ stock.amount }}" id="amount{{ stock.id }}">
                                        {% endfor %}
                                        <p class="sizetypesexheaderrow">REMAINING</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 col-sm-12">
                                        <p class="sizetypesexrow" id="remaining">{{ stocks.first.amount }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg btn-block" id="add_to_cart_btn">
                                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Put in cart
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn-lg btn-block" id="add_to_wishlist_btn">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Add to wishlist
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    {% block script %}
        {#        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>#}
        <!--- Magnifier JS --->
        <script src="{% static 'product/js/okzoom.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                $('#product_img').okzoom({
                    width: 200,
                    height: 200,
                    round: true,
                    background: "#fff",
                    backgroundRepeat: "repeat",
                    shadow: "0 0 0px #000",
                    border: "0px solid black"
                });
            });

            function change_size() {
                var sel = $('#size_select')
                var size = sel.val();
                $('#remaining').text($('#amount' + size).val());

                if(parseInt($('#remaining').text()) <= 0) {
                    $('#add_to_cart_btn').addClass('disabled');
                    $('#add_to_cart_btn').prop("disabled", true);
                }
                else {
                    $('#add_to_cart_btn').removeClass('disabled');
                    $('#add_to_cart_btn').prop("disabled", false);
                }

            }
            $('#size_select').change(change_size);
            function changeImage() {
                $('#product_img').attr('src', this.src);
                $('.gallery-items').removeClass('gallery-selected');
                $(this).addClass('gallery-selected');
            }
            $('.gallery-items').click(changeImage);
        </script>
    {% endblock %}
{% endblock %}