{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link href="{% static 'product/css/product.css' %}" rel="stylesheet">
    <link href="{% static 'product/addslider/addSlider.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        #custom-handle {
            width: 3em;
            height: 1.6em;
            top: 50%;
            margin-top: -.8em;
            text-align: center;
            line-height: 1.6em;
        }
    </style>

    <section>
        <div class="container">
            <div class="col-md-2 filter">
                <div class="row">
                    <h3>Filter</h3>
                    <button class="btn btn-danger" id ="clear_button" data-id="clear">Clear</button>
                </div>

                <div><hr></div>


                <h3>Size</h3>
                <button id="size_s" data-id="S"><a href="#">S</a></button>
                <button id="size_m" data-id="M"><a href="#">M</a></button>
                <button id="size_l" data-id="L"><a href="#">L</a></button>
                <button id="size_xl" data-id="XL"><a href="#">XL</a></button>
                <button id="size_xxl" data-id="XXL"><a href="#">XXL</a></button>

                <div><hr></div>


                <div>
                    <h3>Max Price</h3>
                    <br>

                    <div id="slider">
                        <div id="custom-handle" class="ui-slider-handle"></div>
                    </div>

                </div>

                <br><br>
                <div><hr></div>

                <div>
                   <form id="brand_form" name="form-country_v1">
                    <div class="typeahead__container">
                        <div class="typeahead__field">

                            <span class="typeahead__query">
                                <input class="brand-typeahead" id="brand_name" name="country_v1[query]" type="search" placeholder="Brand search" autocomplete="off">
                            </span>
                            <span class="typeahead__button">
                                <button class ="typeahead__search-icon" type="submit" data-id ="search">
                                </button>
                            </span>

                        </div>
                    </div>
                </form>
                </div>



                <div id = "checklist">

                </div>

                <div><hr></div>


            </div>

            <div class="col-md-10 text-center product">
                <div class="row" id="product-content">
                    {% include 'pages/product/item/product_item.html' %}
                </div>
            </div>



        </div>

    </section>

    <script src="{% static 'product/addslider/addSlider.js' %}"></script>

    <script src="{% static 'product/addslider/Obj.min.js' %}"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            var handle = $("#custom-handle");
            $("#slider").slider({
                max: {{ max_price.price__max }},
                min: 0,

                create: function () {

                    handle.text($(this).slider("value"));
                },
                slide: function (event, ui) {
                    handle.text(ui.value);


                },
                stop: function (event, ui) {
                    console.log(ui.value);
                    $('#product-content').html("");
                    $.ajax({
                        url: "{% url 'product:filtered' %}",
                        type: 'POST',
                        data: {button_id: ui.value},

                        success: function (json) {
                            if (json.content['result']) {
                                console.log('refresd content');
                                $('#product-content').append(json.content['rendered']);
                            } else {
                                console.log('Fail to filter');
                            }
                        }
                    });
                }

            });
        });


        $('button').on('click', function () {
            $('#product-content').html("");
            var element = $(this);

            $.ajax({
                url: "{% url 'product:filtered' %}",
                type: 'POST',
                data: {button_id: element.attr("data-id"), brand: $('#brand_name').val()},

                success: function (json) {
                    if (json.content['result']) {
                        console.log('refreshed content');
                        $('#product-content').append(json.content['rendered']);
                    } else {
                        console.log('Fail to filter');
                    }
                }
            });

        });


        $('#brand_form').submit(function (event) {
            if(event.keyCode == 13){
                $('#product-content').html("");
                var element = $(this);

                $.ajax({
                    url: "{% url 'product:filtered' %}",
                    type: 'POST',
                    data: {button_id: element.attr("data-id"), brand: $('#brand_name').val()},

                    success: function (json) {
                        if (json.content['result']) {
                            console.log('refreshed content');
                            $('#product-content').append(json.content['rendered']);
                        } else {
                            console.log('Fail to filter');
                        }
                    }
                });
            }
            event.preventDefault();

        });


        var brandList = [];
        var checklist = "";


        {% for brand in brands %}
            brandList.push('{{ brand }}');
        {% endfor %}

        for(var i = 0;i<brandList.length;i++){
            checklist+= "<div class = \"checkbox\"> <label> <input type = \"checkbox\">";
            checklist+= brandList[i]+"";
            checklist+= "</label> </div>";
            checklist+= "<br>";
            console.log(checklist);
        }

        $('#checklist').html(checklist);

        $.typeahead({
            input: '.brand-typeahead',
            order: "desc",
            source: {
                 data: brandList


            },

            callback: {
                onInit: function (node) {
                    console.log('Typeahead Initiated on ' + node.selector);
                }

            },

});



    </script>

{% endblock %}