{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>

            {% if success %}
                <div class="alert alert-success  ">
                  <center><strong>{{ success }}</strong></center>
              </div>
            {% endif %}

            <div class = "container">


            <table class="table table-hover">
            <thead>
              <tr>
                <th>Invoice Number</th>
                  <th>Date</th>
                  <th>Total price</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Delivery Track</th>
              </tr>
            </thead>
            <tbody>
                {% for transaction in user_transaction %}
                    {% if transaction.status != 0 %}
                        <tr>
                            <td>{{ transaction.invoice_number }}</td>
                            <td>{{ transaction.updated }}</td>
                        <td>{{ transaction.total_amount }}</td>
                        <td>

                        </td>
                        <td>
                            {% if transaction.status == 1 %}
                                <div>
                                    <form  action="{% url 'member:payment_upload' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class = "col-md-6">
                                            <input type="file" id="img-file" name="img-file" accept="image/*" class="upload"/>

                                        </div>
                                        <div class = "col-md-6">
                                            <button class="btn btn-primary" value = {{ transaction.invoice_number }} name = "invoice_number">Upload</button>
                                        </div>
                                    </form>
                                </div>

                            {% endif %}
                            {% if transaction.status == 2 %}
                                <div class = "col-md-6">
                                <h6>Payment reference uploaded <br> Wait for Confirmation</h6>
                                </div>
                            {% endif %}

                            {% if transaction.status == 3 %}
                                <div class = "col-md-6">
                                <h6>Payment accpeted <br> Wait for delivery code</h6>
                                </div>

                            {% endif %}
                            {% if transaction.status == 4 %}
                                <h6>Delivery process <br> Delivery code : {{ transaction.delivery_code }}/h6>

                            {% endif %}

                        </td>
                        <td>
                            <a href="http://track.thailandpost.co.th/tracking/default.aspx">Click Here</a>
                        </td>
                        </tr>

                    {% endif %}
                {% endfor %}



            </tbody>
          </table>

            </div>

    </section>
{% endblock %}