#order_panel {
    margin-top: 10px;
}
.checkout-header {
    font-size: medium;
    font-weight: bolder;
}
div {
    font-family: Marvenpro;
}

.btn-borderless {
    border-radius: 0;
    font-size: small;
    font-weight: bold;
}

#order-list-brand {
    font-size: small;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}
#order-list-name, #order-list-price, #order-list-size {
    font-size: small;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}