{% load static %}

<div class="row">
    {% for product in simulate_list_bottom %}
        <a onclick="simulate('{{ product.name }}','{{ product.get_image.image.url }}','bottom')">
        <div class="col-md-3 selection_block">
            <div id = "selection_content">
                <div class="row" id="selection_block_image">
                    <div>
                        <img class="img-responsive center-block" id="selection_image" src="{{ product.get_image.image.url }} ">
                    </div>
                    <div class="text-center">
                        <h6 id ="image_name">{{ product.name }}</h6>
                    </div>
                </div>
            </div>
        </div>
        </a>
        {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
        {% endif %}

    {% endfor %}

</div>