{% load static %}
<link href="{% static 'base/css/font-marvenpro.css' %}" rel="stylesheet">
<link href="{% static 'base/css/polygon-navbar.css' %}" rel="stylesheet">
<link href="{% static 'base/css/navbar-search.css' %}" rel="stylesheet">

<nav class="navbar navbar-default navbar-polygon">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home:index' %}">Polygon</a>
            <img src="{% static 'icons/drop_down.png' %}" style="margin-top: 20px; width:25px">
        </div>
        <ul class="nav navbar-nav topnav" id="myTopnav">
            <li><a href="{% url 'product:product_view' %}" >Men</a></li>
            <li><a href="{% url 'product:product_view' %}">Women</a></li>
            <li>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Need to be fix"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right topnav" id="myTopnav">
            <li>
                <a>Login</a>
            </li>
            <li><a>|</a></li>
            <li>
                <a>Register</a>
            </li>
            <li><a>|</a></li>
            <li><a><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            <li class="icon">
                <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
            </li>
        </ul>
    </div>
</nav>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>