{% load static %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="{% static 'base/css/polygon-navbar.css' %}" rel="stylesheet">
<link href="{% static 'base/css/navbar-search.css' %}" rel="stylesheet">

<nav class="navbar navbar-default navbar-polygon">
    <div class="container-fluid">
        <div class="navbar-header header-polygon" style="margin-left: 40px;margin-right: 100px;">
            <a class="navbar-brand" href="#" style="color: white">Polygon</a>
            <img src="{% static 'icons/drop_down.png' %}" style="margin-top: 20px;">
        </div>
        <ul class="nav navbar-nav">
            {#            <li class="active"><a href="#">Home</a></li>#}
            <li><a href="#" style="color: white">Men</a></li>
            <li><a href="#" style="color: white">Women</a></li>
            <li>
                <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search for name, brand ..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            </li>
        </ul>
    </div>
</nav>