{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link href="{% static "base/css/simulate.css" %}" rel="stylesheet">

    <section>
        <div class="row">


            <div class="col-md-6" id="simulate_zone">
                <div id ="top_zone">
                    {% include 'pages/simulate/showcase/show_top.html' %}
                </div>
                <div id ="bottom_zone">
                    {% include 'pages/simulate/showcase/show_bottom.html' %}
                </div>

            </div>

            <div class="col-md-6 right">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#selection_top">Top</a></li>
                        <li><a data-toggle="tab" href="#selection_bottom">Bottom</a></li>
                    </ul>

                    <div class="tab-content" id="selection_zone">
                        <div id ="selection_top" class="tab-pane fade in active">
                            {% include 'pages/simulate/catagory/selection_top.html' %}
                        </div>
                        <div id ="selection_bottom" class="tab-pane fade">
                            {% include 'pages/simulate/catagory/selection_bottom.html' %}
                        </div>
                    </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <div class="btn btn-success">Add Selected item to cart</div>
        </div>

    </section>

    <script>
        var currentSelectedProductName = "";
        function simulate(name,id,type) {
            currentSelectedProductName = name;
            var src = id;
            $('#simulate_image_'+type).attr("src",src);

            $('#'+type+'_dropdown_div').removeClass("invisible");

            $('#'+type+'_size_dropdown_button').html("Size " + "<span class = \"caret\"></span>");

            changeDropDownMenu(type);
        }

        function changeDropDownMenu(type) {
            var dropdown = $('#'+type+'_size_dropdown_menu');
            var sizeList = [];
            var injection = "";
            var top = 'top';
            $.ajax({
                url: "{% url 'product:get_product_stock' %}",
                type: 'POST',
                data: {
                    name: currentSelectedProductName
                },
               success: function (json) {
                    if (json.content['result']) {
                        sizeList = json.content['content'];
                        for(var i = 0; i<sizeList.length; i++) {
                            if(type == 'top')
                                injection+= "<li><a onclick = \"changeDropDownButton(this.text,"+ "\'top\'" +")\">"+ sizeList[i] +"</a></li>";
                            else if(type == "bottom")
                                injection+= "<li><a onclick = \"changeDropDownButton(this.text,"+ "\'bottom\'" +")\">"+ sizeList[i] +"</a></li>";
                        }
                        dropdown.html(injection);
                    } else {
                        console.log('Fail to change page');
                    }
                }
            });


        }

        function changeDropDownButton(val,type) {
            var button = $('#'+type+'_size_dropdown_button');
            button.html("Size : "+ val+ " <span class=\"caret\"></span>");
        }

    </script>


{% endblock %}