{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link href="{% static "base/css/simulate.css" %}" rel="stylesheet">

    <section>
        <div class="row">


            <div class="col-md-6" id="simulate_zone">
                <div id ="top_zone">
                    {% include 'pages/simulate/showcase/show_top.html' %}
                </div>
                <div id ="bottom_zone">
                    {% include 'pages/simulate/showcase/show_bottom.html' %}
                </div>

            </div>

            <div class="col-md-6 right">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#selection_top">Top</a></li>
                        <li><a data-toggle="tab" href="#selection_bottom">Bottom</a></li>
                    </ul>

                    <div class="tab-content" id="selection_zone">
                        <div id ="selection_top" class="tab-pane fade in active">
                            {% include 'pages/simulate/catagory/selection_top.html' %}
                        </div>
                        <div id ="selection_bottom" class="tab-pane fade">
                            {% include 'pages/simulate/catagory/selection_bottom.html' %}
                        </div>
                    </div>
            </div>
        </div>

    </section>

    <script>

        function simulate(id,type) {
            var src = id;
            $('#simulate_image_'+type).attr("src",src);

        }

    </script>


{% endblock %}