{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link href="{% static "base/css/simulate.css" %}" rel="stylesheet">
    <section>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="simulate_zone">
                    <div id="top_zone">
                        <div class="row">
                            <div class="col-md-12">
                                <img style="margin-bottom: 0; padding-bottom: 0;"
                                     class="img-responsive center-block simulate_image" id="simulate_image_top"
                                     src="http://www.clipartkid.com/images/277/ist2-379063-t-shirt-template-jpg-photo-by-mikomiko321-photobucket-wvSDrk-clipart.jpg">
                            </div>
                        </div>
                    </div>
                    <div id="bottom_zone">
                        <div class="row">
                            <div class="col-md-12">
                                <img style="margin-top: 0; padding-top: 0; width: 80%;"
                                     class="img-responsive center-block simulate_image" id="simulate_image_bottom"
                                     src="http://upic.me/i/q1/6622330163_b31164cec8_o.png">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 right">
                    <nav class="navbar">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#selection_top">Top</a></li>
                            <li><a data-toggle="tab" href="#selection_bottom">Bottom</a></li>
                        </ul>
                    </nav>

                    <div class="tab-content" id="selection_zone">
                        <div id="selection_top" class="tab-pane fade in active">
                            {% include 'pages/simulate/catagory/selection_top.html' %}
                        </div>
                        <div id="selection_bottom" class="tab-pane fade">
                            {% include 'pages/simulate/catagory/selection_bottom.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="dropdown invisible text-right" id="top_dropdown_div">
                        Top :
                        <button id="top_size_dropdown_button" class="btn btn-primary dropdown-toggle" type="button"
                                data-toggle="dropdown">Size
                            <span class="caret"></span></button>
                        <ul id="top_size_dropdown_menu" class="dropdown-menu">

                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dropdown invisible text-left" id="bottom_dropdown_div">
                        Bottom :
                        <button id="bottom_size_dropdown_button" class="btn btn-primary dropdown-toggle" type="button"
                                data-toggle="dropdown">Size
                            <span class="caret"></span></button>
                        <ul id="bottom_size_dropdown_menu" class="dropdown-menu">

                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="text-center">
                <div class="btn btn-success" onclick="addToCart()">Add Selected item to cart</div>
            </div>
        </div>
    </section>

    <script>
        var currentSelectedProductName = "";
        var topStock = [];
        var bottomStock = [];
        var topIndex = 'null';
        var bottomIndex = 'null';
        function simulate(name, id, type) {
            currentSelectedProductName = name;
            var src = id;
            $('#simulate_image_' + type).attr("src", src);

            $('#' + type + '_dropdown_div').removeClass("invisible");

            $('#' + type + '_size_dropdown_button').html("Size " + "<span class = \"caret\"></span>");

            changeDropDownMenu(type);
        }

        function changeDropDownMenu(type) {
            var dropdown = $('#' + type + '_size_dropdown_menu');
            var sizeList = [];
            var injection = "";
            if (type == 'bottom')
                bottomIndex = 'null';
            if (type == 'top')
                topIndex = 'null';

            $.ajax({
                url: "{% url 'product:get_product_stock' %}",
                type: 'POST',
                data: {
                    name: currentSelectedProductName
                },
                success: function (json) {
                    if (json.content['result']) {
                        sizeList = json.content['content'];
                        if (type == 'top') {
                            topStock = json.content['stock_id'];
                            console.log(topStock)

                        } else if (type == "bottom") {
                            bottomStock = json.content['stock_id'];
                            console.log(bottomStock);
                        }
                        for (var i = 0; i < sizeList.length; i++) {
                            if (type == 'top') {
                                injection += "<li><a id = \"dropdown_" + i + "\" onclick = \"changeDropDownButton(this.id,this.text," + "\'top\'" + ")\">" + sizeList[i] + "</a></li>";
                            }
                            else if (type == "bottom") {
                                injection += "<li><a id = \"dropdown_" + i + "\" onclick = \"changeDropDownButton(this.id,this.text," + "\'bottom\'" + ")\">" + sizeList[i] + "</a></li>";

                            }
                        }
                        dropdown.html(injection);
                    } else {
                        console.log('Fail to change page');
                    }
                }
            });


        }

        function changeDropDownButton(id, val, type) {
            var button = $('#' + type + '_size_dropdown_button');
            button.html("Size : " + val + " <span class=\"caret\"></span>");
            if (type == 'top') {
                topIndex = id.split("_")[1];
            } else if (type == 'bottom') {
                bottomIndex = id.split("_")[1];
            }

            console.log(topIndex);
            console.log(bottomIndex);


        }

        function addToCart() {
            var topStockId = 'null';
            var bottomStockId = 'null';
            if (topIndex != 'null')
                topStockId = topStock[topIndex];
            if (bottomIndex != 'null')
                bottomStockId = bottomStock[bottomIndex];
            $.ajax({
                url: "{% url 'product:put_in_cart_by_simulate' %}",
                type: "POST",
                data: {
                    'top_stock_id': topStockId,
                    'bottom_stock_id': bottomStockId
                },
                success: function (json) {
                    {#                    $('#top_size_dropdown_button').html("Size <span class=\"caret\"></span>");#}
                    {#                    $('#bottom_size_dropdown_button').html("Size <span class=\"caret\"></span>");#}
                    if (json.content['Fail'])
                        console.log("Do nothing");
                    else
                        window.location.replace(json.content);
                }
            });

        }

    </script>


{% endblock %}