/*.search_component{*/
    /*padding-top: 40px;*/
/*}*/

/*.all_item{*/
    /*padding-top: 80px;*/
/*}*/

#search:hover {
    box-shadow: 0 0 15px #191919;
    opacity: 0.7;
}

.container {
    background-color: black;
}
