#filter {
    background-color: #191919;
    color: white;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#breadcrumb {
    margin: 0px;
}

.product-detail {
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: lightgrey;
    height: 285px;
}

#block-image {
    background-color: white;
}

#product-image {
    height: 200px;
}

#detail-image {
    background-color: #d9534f;
}

.product-detail:hover {
    box-shadow: 0 0 15px #191919;
    opacity: 0.7;
}

#brand {
    color: white;
}

#name {
    color:white;
}

#price {
    color:yellow;
}

/*#product-image .img-responsive {*/
/*margin: 0 auto;*/
/*}*/

