{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if message %}
        <div class="alert alert-success  ">
            <center><strong>{{ message }}</strong></center>
        </div>
    {% endif %}
    <section>
        <div class="container"><h1>Bootstrap tab panel example (using nav-pills) </h1></div>
        <div id="exTab1" class="container">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#1a" data-toggle="tab">Overview</a>
                </li>
                <li><a href="#2a" data-toggle="tab">Using nav-pills</a>
                </li>
                <li><a href="#3a" data-toggle="tab">Applying clearfix</a>
                </li>
                <li><a href="#4a" data-toggle="tab">Background color</a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">
                    <h3>Content's background color is the same for the tab</h3>
                </div>
                <div class="tab-pane" id="2a">
                    <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color
                        for the tab</h3>
                </div>
                <div class="tab-pane" id="3a">
                    <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
                </div>
                <div class="tab-pane" id="4a">
                    <h3>We use css to change the background color of the content to be equal to the tab</h3>
                </div>
            </div>
        </div>


        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <div class="container">
            <div class="col-md-12">
                <h1>Add new product</h1>
                <form action="{% url 'webadmin:add_new_product' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div><label for="inputName">Name</label></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="name" id="inputName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div><label for="sel1">Type</label></div>
                        <div class="col-md-6">
                            <select class="form-control" id="sel1" name="type">
                                <option value="1">Top</option>
                                <option value="2">Bottom</option>
                                <option value="3">Overall</option>
                                <option value="4">Footwear</option>
                                <option value="5">Accessory</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div><label for="sex">Sex</label></div>
                        <div class="col-md-6">
                            <select class="form-control" id="sex" name="sex">
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Unisex</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div><label for="inputBrand">Brand</label></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="brand" id="inputBrand">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div><label>Picture</label></div>
                        <div class="col-md-6"><input type="file" id="img-file" name="img-file" accept="image/*"
                                                     class="upload"/></div>
                    </div>
                    <div class="form-group row">
                        <div><label>Price</label></div>
                        <div class="col-md-6"><input type="number" class="form-control" name="price"
                                                     id="inputBrand"></div>
                    </div>
                    <div class="form-group row">
                        <div><label>Size</label></div>
                        <div class="col-md-6"><input type="text" class="form-control" name="size"
                                                     id="inputBrand"></div>
                    </div>

                    <div class="form-group row">
                        <div><label>Amount</label></div>
                        <div class="col-md-6"><input type="number" class="form-control" name="amount"
                                                     id="inputBrand"></div>
                    </div>
                    <div class="form-group row">
                        <div><label>Description</label></div>
                        <div class="col-md-6">
                            <textarea id="txtArea" rows="5" cols="70" name="description"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}