{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link href="{% static 'product/css/admin_home.css' %}" rel="stylesheet">
    <section>
        {# row 1 #}
        <div class="row">
            <img src="{% static 'base/image/statistic_bg.png' %}">
        </div>

        {# row 2 #}
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8 all-statistic">
                <div class="bar-chart-block block">
                    <h2 class='titular'>Income categorized by type</h2>
                    <div class='grafico bar-chart'>
                        <ul class='cht-y'>
                            <li datacht-Y='60'></li>
                            <li datacht-Y='45'></li>
                            <li datacht-Y='30'></li>
                            <li datacht-Y='15'></li>
                            <li datacht-Y='0'></li>
                        </ul>
                        <ul class='cht-x'>
                            <li datacht-X='37'><i>1</i></li>
                            <li datacht-X='56'><i>2</i></li>
                            <li datacht-X='25'><i>3</i></li>
                            <li datacht-X='18'><i>4</i></li>
                            <li datacht-X='45'><i>5</i></li>
                            <li datacht-X='50'><i>6</i></li>
                            <li datacht-X='33'><i>7</i></li>
                        </ul>
                    </div>
                </div>

                <div class="donut-chart-block block">
                <h2 class="titular">INCOME STATS</h2>
                <div class="donut-chart">
                    <div id="porcion1" class="recorte">
                        <div class="quesito ios" data-rel="21"></div>
                    </div>
                    <div id="porcion2" class="recorte">
                        <div class="quesito mac" data-rel="39"></div>
                    </div>
                    <div id="porcion3" class="recorte">
                        <div class="quesito win" data-rel="31"></div>
                    </div>
                    <div id="porcionFin" class="recorte">
                        <div class="quesito linux" data-rel="9"></div>
                    </div>
                    <p class="center-date">DECEMBER<br><span class="scnd-font-color">2016</span></p>
                </div>
                <ul class="os-percentages horizontal-list">
                    <li>
                        <p class="ios os scnd-font-color">Top</p>
                        <p class="os-percentage">21<sup>%</sup></p>
                    </li>
                    <li>
                        <p class="mac os scnd-font-color">Bottom</p>
                        <p class="os-percentage">39<sup>%</sup></p>
                    </li>
                    <li>
                        <p class="linux os scnd-font-color">Footwear</p>
                        <p class="os-percentage">9<sup>%</sup></p>
                    </li>
                    <li>
                        <p class="win os scnd-font-color">Accessory</p>
                        <p class="os-percentage">31<sup>%</sup></p>
                    </li>
                </ul>
            </div>
            </div>


        </div>
        <div class="col-md-2">

        </div>
        </div>
    </section>
{% endblock %}